.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
}

#stocks-container {
    height: 100%;
}

.centered-card-container {
    min-width: 50%;
}

.default-card {
    background: #fff;
    margin: 20px;
    padding: 20px;
    z-index: 45;
}

.backgrid .string-cell {
    text-align: center;
}

.backgrid .integer-cell {
    text-align: center;
}

.backgrid .datetime-cell {
    text-align: center;
}

.backgrid .number-cell {
    text-align: center;
}

/*color: rgb(63,81,181)*/
.autocomplete-input > md-autocomplete-wrap > md-input-container {
    margin-top: 18px;
    margin-bottom: 0px;
}

.autocomplete-input .md-errors-spacer {
    min-height: 0px;
    height: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
