<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="bower_components/backgrid/lib/backgrid.min.css" />
    <link rel="stylesheet" href="bower_components/ng-mfb/mfb/dist/mfb.css" />
    <link rel="stylesheet" href="css/index.css" />
    <!-- Javascripts -->
    <script src="bower_components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="bower_components/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="bower_components/backbone/backbone.js" type="text/javascript"></script>
    <script src="bower_components/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="bower_components/backgrid/lib/backgrid.min.js" type="text/javascript"></script>
    <script src="bower_components/ng-mfb/mfb/dist/mfb.min.js" type="text/javascript"></script>
    <script src="bower_components/ng-mfb/src/mfb-directive.js" type="text/javascript"></script>
    <script src="js/index.js"></script>
    <script src="js/main-controller.js"></script>
    <script src="js/new-object-controller.js"></script>
    <script src="js/autocomplete-templates.js"></script>
    <title>Login</title>
</head>

<body ng-app="billingApp" layout="column">
    <div ng-controller="mainController as mCtrl" flex>
        <div>
            <md-tabs md-dynamic-height class="md-primary" md-stretch-tabs="always">
                <md-tab ng-repeat="tab in mCtrl.tabs" md-on-select="mCtrl.setCurrentNewMenuIndex(tab.index)">
                    <md-tab-label>{{tab.label}}</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div ng-if="tab.index===6" flex>
                                <h2>Stock Info</h2>
                                <div ng-include src="'autocomplete-template-product.html'" include-replace></div>
                            </div>
                            <div id="{{tab.tableId}}"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
        <div id="overlay" ng-hide="mCtrl.isOverlayHidden" ng-click="mCtrl.toggleOverlay()" layout="row" layout-align="center center">
            <div ng-controller="newObjectController as newObjCont" class="new-menu-card-container">
                <div ng-click="$event.stopPropagation()" ng-show="mCtrl.currentNewMenuIndex==={{card.index}}" ng-repeat="card in newObjCont.cards">
                    <md-card class="new-menu-card">
                        <md-card-content>
                            <h2>{{card.header}}</h2>
                            <md-content layout-padding>
                                <form class="new-form" name="{{card.formInfo.name}}" method="post" action="{{card.formInfo.action}}">
                                    <md-input-container ng-repeat="inputInfo in card.inputsInfo">
                                        <md-icon md-svg-src="{{inputInfo.icon}}"></md-icon>
                                        <input type="{{inputInfo.type}}" placeholder="{{inputInfo.placeholder}}" name="{{inputInfo.name}}" required>
                                    </md-input-container>
                                    <div layout="row">
                                        <md-button class="md-raised md-primary" flex>CREATE</md-button>
                                    </div>
                                </form>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div id="floating-button-container" ng-init="mCtrl.showActionButton=true" ng-show="mCtrl.showActionButton">
            <nav mfb-menu main-action="mCtrl.createNewItem(currentNewMenuIndex)" position="br" active-icon="add" resting-icon="add" data-mfb-toggle="click" template-url="ng-mfb-menu-md.tpl.html">
            </nav>
        </div>
    </div>
</body>

</html>
